.home {
    background-color: #ccffff;
}

.about {
    background-color: #b3ffcc;
}

.gallery {
    background-color: #f2f2f2;
}



#python {
    color: blue;
}

#java {
    color: red;
}

#js {
    color: green;
}

#php {
    color: violet;
}