{% extends 'home/layouts/base.html' %}
{% load staticfiles %}

{% block content %}

<head>
    <link rel="stylesheet" href="{% static 'home/home.css' %}">
    <title>HOME PAGE</title>
</head>

<body class="about">
    <div>
        Content of About Page
    </div>
    <!--<div class="container-fluid">-->
        <!--<div class="row">-->
            <!--<div class="col-md-4">Content</div>-->
            <!--<div class="col-md-4">of</div>-->
            <!--<div class="col-md-4">About</div>-->
        <!--</div>-->
    <!--</div>-->
</body>

{% endblock %}