{% extends 'home/layouts/base.html' %}
{% load staticfiles %}

{% block content %}

<head>
    <link rel="stylesheet" href="{% static 'home/home.css' %}">
    <title>HOME PAGE</title>
</head>

<body class="gallery">
    <div>
        Content of Gallery Page
    </div>
    <!--<div class="container-fluid">-->
        <!--<div class="row">-->
            <!--<div class="col-md-4 bg-primary">Hello</div>-->
            <!--<div class="col-md-4 bg-secondary">Hi</div>-->
            <!--<div class="col-md-4 bg-success">Hola</div>-->
        <!--</div>-->
    <!--</div>-->
</body>

{% endblock %}