{% extends "home/layouts/base.html" %}
{% load staticfiles %}

{% block content %}

<head>
    <link rel="stylesheet" href="{% static 'home/home.css' %}">
    <title>HOME PAGE</title>
</head>

<body class="home">
    <img src="{% static 'home/python.png' %}" />
    <!--<p>{{ templateVariable }}</p>-->
    <p>List of Languages:</p>
    <ul>
        <li id="python">Python</li>
        <li id="java">Java</li>
        <li id="js">JavaScript</li>
        <li id="php">PHP</li>
    </ul>
</body>

{% endblock %}