{% extends "home/layouts/base.html" %}
{% load staticfiles %}

{% block content %}

<head>
    <link rel="stylesheet" href="{% static 'home/home.css' %}">
    <link rel="stylesheet" href="{% static 'home/signup.css' %}">
    <title>Sign Up</title>
</head>

<body class="home">
    <form method="POST">
        {% csrf_token %}
        <div class="container">
            {{ signup_form }}
            <!--<label><b>Username</b></label>-->
            <!--<input type="text" placeholder="Enter Username" name="username" required>-->

            <!--<label><b>Email</b></label>-->
            <!--<input type="email" placeholder="Enter Email" name="email" required>-->

            <!--<label><b>Password</b></label>-->
            <!--<input type="password" placeholder="Enter Password" name="password" required>-->

            <button type="submit">Login</button>
        </div>

    </form>
</body>

{% endblock %}